name: Test CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: shivammathur/setup-php@v2
      with:
        php-version: '7.4'
        tools: composer

    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"

    - name: Update
      run: sudo apt-get update
      
    - name: Upgrade google-chrome
      run: sudo apt-get upgrade google-chrome-stable -y

    - name: Start mysql
      run: sudo /etc/init.d/mysql start        

    - name: Create Database
      run: mysql --user="root" --password="root" -e "CREATE DATABASE testing character set UTF8mb4 collate utf8mb4_bin;"

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-composer-

    - name: Install dependencies
      if: steps.composer-cache.outputs.cache-hit != 'true'
      run: composer install --prefer-dist --no-progress --no-suggest

    - name: Generate key
      run: php artisan key:generate

    - name: Run lint
      run: composer run-script lint

    - name: Upgrade Chrome Driver
      run: php artisan dusk:chrome-driver

    - name: Start Chrome Driver
      run: ./vendor/laravel/dusk/bin/chromedriver-linux &

    - name: Run Laravel Server
      run: php artisan serve --env=dusk.testing &

    - name: Run test suite
      run: composer test
